body{

margin:0;
font-family:'Comfortaa',sans-serif;
background:#0a0a0a;
color:white;

}

.topGlow{

position:fixed;
top:0;
width:100%;
height:200px;

background:radial-gradient(circle at top,
rgba(200,200,200,.3),
transparent);

pointer-events:none;

}

#bg3d{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;

}

header{

text-align:center;
padding:120px 20px;

}

#search{

padding:10px;
border-radius:10px;
border:none;
margin-top:20px;

}

.categories{

margin-top:15px;

}

.categories button{

margin:5px;
padding:8px 14px;

border:none;
border-radius:10px;

cursor:pointer;

}

.flags{

position:fixed;
right:20px;
top:20px;

display:flex;
gap:10px;

}

.flags img{

width:40px;
cursor:pointer;

}

#adminBtn{

position:fixed;
left:20px;
top:20px;

padding:12px 18px;

border:none;
border-radius:12px;

background:rgba(255,255,255,.1);

color:white;

cursor:pointer;

}

#books{

display:grid;

grid-template-columns:repeat(auto-fit,320px);

justify-content:center;

gap:40px;

padding:40px;

}

.book{

background:rgba(255,255,255,.08);

padding:18px;

border-radius:18px;

backdrop-filter:blur(12px);

}

.book img{

width:100%;
border-radius:10px;

}

.readBtn{

width:100%;
margin-top:10px;

padding:10px;

border:none;
border-radius:10px;

cursor:pointer;

}

.modal{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

display:none;

align-items:center;
justify-content:center;

background:rgba(0,0,0,.8);

}

.modalBox{

background:#1a1a1a;

padding:30px;

border-radius:16px;

max-width:700px;
width:90%;

}

#viewer{

height:500px;

}
